# Trendyol Data Science Bootcamp Capstone Project

Importing libraries

In [1]:
import numpy as np
import pandas as pd
from tqdm import trange

Reading Datasets to Dataframes

In [2]:
df_cust = pd.read_csv("/Users/anil_/customers.csv.gz", compression="gzip")

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FA19-5F03

 Directory of C:\Users\anil_

18.04.2022  00:07    <DIR>          .
18.04.2022  00:07    <DIR>          ..
06.02.2022  21:13               490 .bash_history
03.11.2021  00:29    <DIR>          .cache
27.12.2021  19:41    <DIR>          .conda
01.11.2021  14:23                25 .condarc
01.11.2021  14:22    <DIR>          .continuum
03.11.2021  00:29    <DIR>          .eclipse
17.04.2022  23:21    <DIR>          .ipynb_checkpoints
01.11.2021  14:24    <DIR>          .ipython
22.12.2021  22:10    <DIR>          .jupyter
19.12.2021  23:06    <DIR>          .keras
08.12.2021  14:20    <DIR>          .matplotlib
20.03.2022  22:48    <DIR>          .p2
15.03.2022  15:15    <DIR>          .streamlit
03.04.2022  13:52    <DIR>          __pycache__
25.08.2021  15:38    <DIR>          3D Objects
18.04.2022  00:07            11.529 anil.ipynb
25.08.2021  17:27    <DIR>          ansel
18.04.2022  00:02         4.352.791 articles.csv.gz
03.04.2022  13:50             2.273 collob.py
25.08.2021  15:38    <DIR>          Contacts
18.04.2022  00:02        53.720.682 customers.csv.gz
27.08.2021  12:00    <DIR>          Documents
17.04.2022  23:47    <DIR>          Downloads
03.11.2021  00:23    <DIR>          eclipse
20.03.2022  22:50    <DIR>          eclipse-workspace
25.08.2021  15:38    <DIR>          Favorites
15.12.2021  14:25    <DIR>          Finger-Counter-using-Hand-Tracking-And-Open-cv
24.02.2022  08:31           154.894 framp.csv
24.02.2022  08:31            15.979 gnyned.csv
02.04.2022  13:44       620.474.664 goodreads_reviews_spoiler.json.gz
24.02.2022  08:31           103.121 gwoomed.csv
24.02.2022  08:31           228.264 hoilled.csv
25.08.2021  16:22    <DIR>          Intel
25.08.2021  15:38    <DIR>          Links
25.08.2021  16:48    <DIR>          Logs
25.08.2021  15:38    <DIR>          Music
04.04.2022  23:49       716.193.814 netflix.zip
17.04.2022  23:18    <DIR>          OneDrive
24.02.2022  08:31           156.358 plent.csv
23.03.2022  19:41    <DIR>          PycharmProjects
24.02.2022  09:20            11.703 q2.ipynb
25.08.2021  15:38    <DIR>          Saved Games
19.03.2022  13:59    <DIR>          scikit_learn_data
25.08.2021  15:39    <DIR>          Searches
24.02.2022  08:31           246.129 throwsh.csv
27.01.2022  22:28    <DIR>          Tracing
18.04.2022  00:03       595.420.014 transactions.csv.gz
24.02.2022  06:58               576 Trendyol Bootcamp.ipynb
24.02.2022  08:31           240.036 twerche.csv
15.12.2021  13:10            10.999 Untitled.ipynb
14.12.2021  15:25             6.823 Untitled1.ipynb
24.02.2022  08:18             2.735 Untitled2.ipynb
13.03.2022  14:00            18.967 Untitled3.ipynb
26.03.2022  14:09             7.254 Untitled4.ipynb
03.04.2022  13:52            10.589 Untitled5.ipynb
03.04.2022  14:41            12.545 Untitled6.ipynb
04.04.2022  23:51            10.395 Untitled7.ipynb
05.04.2022  22:19                72 Untitled8.ipynb
24.02.2022  08:31            83.734 veeme.csv
14.12.2021  14:53                 0 video2.avi
17.04.2022  23:18    <DIR>          Videos
06.04.2022  02:53            19.593 youDo2.ipynb
              30 File(s)  1.991.517.048 bytes
              34 Dir(s)  745.611.161.600 bytes free

In [3]:
df_cust

,customer_id,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,ACTIVE,NONE,49.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,ACTIVE,NONE,25.0
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,ACTIVE,NONE,24.0
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,ACTIVE,NONE,54.0
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,ACTIVE,Regularly,52.0
...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,ACTIVE,NONE,24.0
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,ACTIVE,NONE,21.0
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,ACTIVE,Regularly,21.0
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,ACTIVE,Regularly,18.0
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,PRE-CREATE,NONE,65.0

In [4]:
df_artic = pd.read_csv("/Users/anil_/articles.csv.gz", compression="gzip")

In [5]:
df_artic

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [6]:
df_trans = pd.read_csv("/Users/anil_/transactions.csv.gz", compression="gzip")

In [7]:
df_trans

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

Creating article_id_new and customer_id_new columns. I want to use new ids as a index for matrix factorization.

In [8]:
article_ids = df_trans['article_id']
uniques = article_ids.unique()
length = len(uniques)
arr = np.array(list(range(length)))
dict1 = {uniques[i]:i for i in range(length)}
df_trans['article_id_new'] = df_trans['article_id'].apply(lambda x : dict1[x])
df_trans['article_id_new']

0                0
1                1
2                2
3                3
4                4
             ...
31788319    102734
31788320     97490
31788321    104185
31788322     70100
31788323    102985
Name: article_id_new, Length: 31788324, dtype: int64

In [9]:
customer_ids = df_trans['customer_id']
unique_customers = customer_ids.unique()
len_cus_uniq = len(unique_customers)
arr_cus = np.array(list(range(len_cus_uniq)))
dict2 = {unique_customers[i]:i for i in range(len_cus_uniq)}
df_trans['customer_id_new'] = df_trans['customer_id'].apply(lambda x : dict2[x])
df_trans['customer_id_new']

0                 0
1                 0
2                 1
3                 1
4                 1
             ...
31788319     212537
31788320     212537
31788321    1090369
31788322     729233
31788323    1025409
Name: customer_id_new, Length: 31788324, dtype: int64

In [10]:
df_trans

,t_dat,customer_id,article_id,price,sales_channel_id,article_id_new,customer_id_new
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,0,0
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,1,0
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2,1
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,3,1
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,4,1
...,...,...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2,102734,212537
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2,97490,212537
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1,104185,1090369
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1,70100,729233
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2,102985,1025409

I splited the data to three parts. These are train, validation and test sets. I used last week as test set, the week before last week as validation set and the remaining part as train set. Then I used the validation set to optimize my hyperparameters. My validation set just contains one week before last week so my hyperparameters can maximize the last week.

In [11]:
validation_split_idx = int(df_trans.shape[0]*0.98)
test_split_idx = int(df_trans.shape[0]*0.99)

In [12]:
df_train = df_trans.loc[0:validation_split_idx]
df_val = df_trans.loc[validation_split_idx : test_split_idx] 
df_test = df_trans.loc[test_split_idx:]

In [13]:
df_train

,t_dat,customer_id,article_id,price,sales_channel_id,article_id_new,customer_id_new
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,0,0
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,1,0
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2,1
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,3,1
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,4,1
...,...,...,...,...,...,...,...
31152553,2020-09-05,4499cb5dd11de1dbb5d5c9ed323714c335efd1eb9d4c57...,568601023,0.050831,1,36759,648670
31152554,2020-09-05,4499cb5dd11de1dbb5d5c9ed323714c335efd1eb9d4c57...,652730004,0.050831,1,39564,648670
31152555,2020-09-05,4499cb5dd11de1dbb5d5c9ed323714c335efd1eb9d4c57...,686564013,0.033881,1,60922,648670
31152556,2020-09-05,449cea12e175cc607c95d48c622b6139af43d243dec493...,706016019,0.033881,1,66265,109638
31152557,2020-09-05,449cea12e175cc607c95d48c622b6139af43d243dec493...,516000090,0.016932,1,67828,109638

In [14]:
user_unique = df_trans['customer_id'].nunique()
item_unique = df_trans['article_id'].nunique()
print(user_unique)
print(item_unique)

1362281
104547

While creating the R matrix, I decided to make an explicit matrix. I used the amount of times a user bought product as rating.

In [15]:
df_train_new = df_train.groupby(['customer_id_new', 'article_id_new']).size()
df_val_new = df_val.groupby(['customer_id_new', 'article_id_new']).size()
df_test_new = df_test.groupby(['customer_id_new', 'article_id_new']).size()

In [16]:
df_train_new

customer_id_new  article_id_new
0                0                 2
                 1                 1
                 1702              1
                 2880              2
                 39611             1
                                  ..
1348225          95726             1
                 99938             1
1348226          78905             1
                 99537             1
                 101549            1
Length: 26760915, dtype: int64

In [17]:
df_train_new.shape

(26760915,)

Training and Hyperparameter Optimization for d and lambda. 
Data is very large so I can't create R matrix because of memory issues. I solved this problem with just using indexes to do gradient descent.

In [18]:
total_val_e = 0
best_total_e = float('inf')
best_lamb = 0.1
best_d = 10
alpha = 0.0001   # Learning rate

lambs = [0.001,0.01,0.1]
d_list = [10,100,1000]

for lamb in lambs:
    for d_ in d_list:

        U = np.random.rand(user_unique,d_)
        V = np.random.rand(d_,item_unique)

        with trange(3) as epochs:
            for _ in epochs:
                total_e = 0   
                for k,sample in enumerate(df_train_new.iteritems()):
                    i = sample[0][0]
                    j = sample[0][1]

                    y_pred = np.dot(U[i, :], V[:, j])
                    e = sample[1] - y_pred

                    U[i, :] += (2 * e * V[:, j] - 2 * lamb * U[i, :]) * alpha
                    V[:, j] += (2 * e * U[i, :] - 2 * lamb * V[:, j]) * alpha

                    total_e += e ** 2

                epochs.set_description(f'Total Square Error: {total_e:.2f}')
                print(total_e)
        
        total_val_e = 0
        for k,sample in enumerate(df_val_new.iteritems()):
            i = sample[0][0]
            j = sample[0][1]

            y_pred = np.dot(U[i, :], V[:, j])
            e = np.abs(sample[1] - y_pred)

            total_val_e += e

        print(total_val_e)
        if total_val_e < best_total_e:
            best_d = d_
            best_lamb = lamb
            best_U = U
            best_V = V
            best_total_e = total_val_e

print(best_d, best_lamb, best_U, best_V)

Total Square Error: 46401948.87:  33%|â–ˆâ–ˆâ–ˆâ–Ž      | 1/3 [05:12<10:24, 312.11s/it]

46401948.867380254

Total Square Error: 29198728.66:  67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 2/3 [10:23<05:11, 311.46s/it]

29198728.663781315

Total Square Error: 23069936.70: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [15:45<00:00, 315.29s/it]

23069936.704680163
244681.95240007676

Total Square Error: 2820259619.66:  33%|â–ˆâ–ˆâ–ˆâ–Ž      | 1/3 [05:21<10:43, 321.92s/it]

2820259619.66034

Total Square Error: 587557703.02:  67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 2/3 [10:40<05:19, 319.89s/it]

587557703.0155038

Total Square Error: 336106983.15: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [16:00<00:00, 320.10s/it]

336106983.1487722

  0%|          | 0/3 [00:00<?, ?it/s]

1467772.8596714956

Total Square Error: 46226137.64:  33%|â–ˆâ–ˆâ–ˆâ–Ž      | 1/3 [05:01<10:03, 301.82s/it]

46226137.63607202

Total Square Error: 29043386.64:  67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 2/3 [10:14<05:08, 308.43s/it]

29043386.642861992

Total Square Error: 22956369.62: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [15:24<00:00, 308.14s/it]

22956369.61899363
240360.38359725985

Total Square Error: 2819411660.71:  33%|â–ˆâ–ˆâ–ˆâ–Ž      | 1/3 [05:35<11:11, 335.83s/it]

2819411660.705385

Total Square Error: 587293545.50:  67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 2/3 [11:11<05:35, 335.97s/it]

587293545.4957694

Total Square Error: 335861488.06: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [17:03<00:00, 341.14s/it]

335861488.05549824
1461782.7981948738
10 0.01 [[0.64326829 0.40271398 0.04520944 ... 0.9250417  0.79031285 0.43488299]
 [0.34142406 0.15596634 0.95008407 ... 0.07280403 0.53470354 0.24931003]
 [0.18980714 0.03301259 0.4322202  ... 0.54523959 0.17202496 0.39697803]
 ...
 [0.25872344 0.43587168 0.61243058 ... 0.2182013  0.62709237 0.18138399]
 [0.23275815 0.32301927 0.62539107 ... 0.74653442 0.36178897 0.97378702]
 [0.73986238 0.49715387 0.12015348 ... 0.21268979 0.92144369 0.685809  ]] [[ 0.53875881  0.52841681  0.39493553 ...  0.69217041  0.65142177
   0.70800937]
 [ 0.66414812  0.07942593  0.10025508 ...  0.4631277   0.56253096
   0.27546544]
 [ 0.08703464  0.05049272  0.64596121 ...  0.87288222  0.71641132
   0.52669859]
 ...
 [-0.02448241  0.04524636  0.4170202  ...  0.72719688  0.1553473
   0.64206197]
 [ 0.68816949  0.46877444  0.90228322 ...  0.00184341  0.59628944
   0.579593  ]
 [ 0.17912942  0.35012688  0.35696204 ...  0.13797778  0.6622379
   0.01844119]]

In [19]:
best_d

10

In [20]:
best_lamb

0.01

MAE for test set

In [21]:
total_test_e = 0

for k,sample in enumerate(df_test_new.iteritems()):
    i = sample[0][0]
    j = sample[0][1]

    y_pred = np.dot(best_U[i, :], best_V[:, j])
    y_pred_rounded = round(y_pred)
    e = np.abs(sample[1] - y_pred_rounded)

    total_test_e += e
    
print(total_test_e)

242476

In [22]:
df_test_new

customer_id_new  article_id_new
0                100206            1
3                100494            1
6                98365             1
33               1408              2
46               99220             1
                                  ..
1362278          104514            1
1362279          99158             2
1362280          68956             1
                 102215            1
                 102661            1
Length: 281578, dtype: int64

In [23]:
user_unique

1362281

In [24]:
item_unique

104547

Creating top 5 article recommendations for users

In [25]:
%%capture
recommendations = []
for i in range(user_unique):
    max_five = []    
    y_pred = np.dot(best_U[i, :], best_V[:])
    
    for k in range(5):
        max_v = y_pred.max()
        max_idx = y_pred.argmax()
        max_five.append((max_v,max_idx))
        y_pred[max_idx] = -1
    
    recommendations.append(max_five)
    if i % 1000 == 0:       
        print("user is done: ", i, "/", user_unique)

Top 5 recommendations for first 10 users

In [29]:
recommendations[0:10]

[[(5.242206881307357, 79326),
  (5.152372775717142, 29294),
  (5.097801556848117, 24582),
  (4.9903427080828955, 62177),
  (4.964608796825337, 65408)],
 [(4.141120415414361, 36120),
  (4.114133618479373, 29294),
  (4.103297864718653, 85905),
  (4.088223757701147, 83797),
  (4.072908296370909, 23022)],
 [(3.104204652289081, 84238),
  (3.0460712763539797, 86502),
  (2.9929706140681755, 57352),
  (2.984171131127165, 102826),
  (2.976859166956887, 53375)],
 [(4.168666063697494, 17456),
  (4.126653467649637, 102826),
  (4.122106620427129, 29294),
  (4.113132943547955, 62177),
  (4.094213109433779, 53280)],
 [(3.124232428007579, 57243),
  (3.0956427918353584, 32686),
  (3.0841606576119642, 53440),
  (3.0815206549452276, 29294),
  (3.0765748774080435, 90078)],
 [(3.694214061400063, 29294),
  (3.6299730104550125, 21401),
  (3.603725134960357, 102826),
  (3.600897355254278, 103279),
  (3.600242824053761, 77955)],
 [(4.347364498798701, 84238),
  (4.234875211222524, 84133),
  (4.225954592566566, 28035),
  (4.221171560447777, 103296),
  (4.204882939167955, 85033)],
 [(4.939668663406702, 29294),
  (4.773581764381536, 79326),
  (4.7096726686705175, 23022),
  (4.678468272268019, 19567),
  (4.678330437823077, 102826)],
 [(5.503562578914176, 29294),
  (5.473934551992803, 94829),
  (5.387776053447034, 17456),
  (5.374637371153855, 102220),
  (5.353007774714458, 54352)],
 [(3.4681927647183133, 101576),
  (3.4196815497747393, 29294),
  (3.4061131549834043, 104122),
  (3.38659857829116, 46714),
  (3.3846632857352223, 63299)]]